# Configuración DIEVOPS Platform
# Copia este archivo a config.env y llena tus valores

# GCP
PROJECT_ID="tu-proyecto-gcp"
REGION="us-central1"

# GitHub
GITHUB_USER="tu-usuario-github"

# Service Accounts
SA_TERRAFORM="terraform-gcp-admin"
SA_CI="ci-deployer" 